#Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files "config.jsonc">
    Require all denied
</Files>

<Files "config.json">
    Require all denied
</Files>

<Files "config.schema.json">
    Require all denied
</Files>

<Files "README.md">
    Require all denied
</Files>

<FilesMatch "\.(db|sql|sqlite|sqlite3)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
  # Redirect to the public folder
  RewriteEngine On
  # RewriteBase /
  # すでにpublicディレクトリ配下へのリクエストであれば、それ以上の書き換えを停止する
  RewriteCond %{REQUEST_URI} ^/~keimag/router/public/ [NC]
  RewriteRule .* - [L]

  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

  # Redirect to HTTPS
  # RewriteEngine On
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
